.input-group {
  position: relative;
}
.label {
  position: absolute;
  left: 15px;
  color: $color-gray;
  pointer-events: none;
  transform: translateY(16px);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  border: solid 1.5px $color-gray;
  border-radius: 16px;
  background: none;
  min-width: 100%;
  padding: 16px;
  font-size: 16px;
  color: $color-black;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:focus,
  &:valid {
    border-color: $color-green;
    + .label {
      transform: translateY(-50%) scale(0.8);
      background-color: $color-white;
      padding: 0 0.2em;
      color: $color-green;
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}
