.wrapper-form {
  margin-top: 40px;
}

.title {
  text-align: center;
}

.token-form {
  margin-top: 20px;
}
.button-take-info {
  margin-top: 20px;
}
.button-verifier {
  margin-top: 20px;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
