@import '../../../../styles/variables.scss';

.wrapper-form {
  margin-top: 40px;
}

.title {
  text-align: center;
}

.token-form {
  margin-top: 20px;
}

.text-info {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: $color-read;
}

.success {
  color: $color-green;
}
