@import '../../../../styles/variables.scss';

.hero {
  position: relative;
}

.wrapper {
  margin-top: 20px;
}
.list-title {
  font-weight: 500;
}

.list {
  margin-top: 10px;
}

.order-list {
  padding-left: 10px;
  margin-top: 5px;
}

.item {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}
.item-text {
  display: inline-block;
}

.item-link {
  margin-left: 10px;
  color: $color-green;
  transition: $transition-base;

  &:hover {
    color: $color-green-lite;
  }
}

.button {
  padding: 16px 56px;
  margin-top: 40px;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
  width: 100%;
}
